/* ==========================================
            LARGE TABLETS
========================================== */

@media (max-width: 992px){

.container{

    width:min(1200px,92%);

}

.hero .container{
    flex-direction:column-reverse;
    text-align:center;
    gap:50px;
}

.hero-description{
    margin:auto;
    margin-bottom:30px;
}

.hero-buttons,
.social-icons{
    justify-content:center;
}

.image-wrapper{
    width:330px;
    height:330px;
}

.hero-image::before{
    width:420px;
    height:420px;
}

.hero-title{
    font-size:3.3rem;
}

.hero-role{
    font-size:1.7rem;
}

.projects-grid{
    grid-template-columns:1fr;
}

.skills-grid{
    grid-template-columns:repeat(2,1fr);
}

.about-container{
    .about-container{grid-template-columns:1fr;
}
}

.contact-container{
    grid-template-columns:1fr;
}

}

/* ==========================================
                MOBILE
========================================== */

@media (max-width:768px){

html{
    font-size:15px;
}

/* Navbar */

nav{
    padding:15px 20px;
}



.resume-btn{
    display:none;
}

#menu-toggle{
    display:block;
}

/* Hero */

.hero{
    padding-top:100px;
}

.hero .container{
    gap:30px;
}

.image-wrapper{

    width:min(230px,80vw);
    height:auto;

    aspect-ratio:1/1;

}

.hero-image::before{
    width:300px;
    height:300px;
}

.hero-title{
    font-size:2.7rem;
}

.hero-role{
    font-size:1.2rem;
    min-height:40px;
    white-space:normal;
}

.hero-description{
    font-size:1rem;
    line-height:1.7;
}

.hero-buttons{
    flex-direction:column;
    align-items:center;
    width:100%;
}

.hero-buttons .btn{
   width:min(240px,100%);
}

.social-icons{
    justify-content:center;
}

/* Sections */

section{
    padding:80px 0;
}

.section-title{
    font-size:2rem;
}

/* Skills */

.skills-grid{
    grid-template-columns:1fr;
}

/* Projects */

.projects-grid{
    grid-template-columns:1fr;
}

.project-image{

    min-height:180px;

    height:220px;

}

/* About */

.about-container{
    grid-template-columns:1fr;
}
/* Experience */

.timeline::before{
    display:none;
}

/* Contact */

.contact-container{
    grid-template-columns:1fr;
}

.contact-form,
.contact-info{
    width:100%;
}

/* Footer */

.footer-content{
    flex-direction:column;
    gap:20px;
    text-align:center;
}

}

/* ==========================================
            SMALL MOBILE
========================================== */

@media (max-width:480px){

.container{
    width:94%;
}

.hero-title{
    font-size:2.2rem;
}

.hero-role{
    font-size:1rem;
}

.image-wrapper{
    width:min(190px,75vw);
    height:auto;

    aspect-ratio:1/1;
}

.hero-image::before{
    width:250px;
    height:250px;
}

.hero-description{
    font-size:.95rem;
}

.hero-buttons .btn{
    width:100%;
}

.project-image{
    height:190px;
}

}
/* ==========================================
        OVERFLOW FIX
========================================== */

html,
body{

    overflow-x:hidden;

}

section{

    overflow-x:hidden;

}

.container{

    overflow-x:hidden;

}

img{

    max-width:100%;

}

*{

    max-width:100%;

}